    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <div style="text-align:center;background-color:cornflowerblue;font-size:45px;">
            <b>Email-Classifier</b>
        </div>
        <div>
            <pre style="font-size:15px;">
            Hi Sir/Madam
                We just need to verify your email address to complete your registration!
                Click<a href="@ViewBag.ConfirmationLink"> Here </a>
        </pre>
        </div>
    </body>
    </html>
